/* Needed css */
html,
body {
  width: 100%; /* This is needed :( */
  background-color: #FFF;
  background: url("../../public/infomayores/09_bg_mayores.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.content {
  width: 60%;
  text-align: center;
  margin: auto;
}

.header-container{
  padding-left: 35%;
  padding-right: 35%;
}

.regresar-container{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 35%;
  padding-right: 35%;
}

.controls-container {
  width: 100%;
}

img {
  width: 100%;
}

.button {
  padding-left: 25%;
  padding-right: 25%;
}

.footer {
  position: relative;
  bottom: 0;
}

@media only screen and (min-width:320px) and (max-width:480px){

}