/* Needed css */
html,
body {
  width: 100%;
  /* This is needed :( */
}

.content {
  width: 60%;
  text-align: center;
  margin: auto;
}

.header-container {
  padding-left: 35%;
  padding-right: 35%;
}

.regresar-container {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 35%;
  padding-right: 35%;
}

.controls-container {
  width: 100%;
}

img {
  width: 100%;
}

.button {
  padding-left: 25%;
  padding-right: 25%;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5rem;
}

@media only screen and (min-width: 425px) {
  body {
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    background-image: url(/public/infomayores/09_bg_mayores.png);
  }
}

@media only screen and (max-width: 425px) {
  body {
    background-image: url(/public/infomayores/09_m_bg_mayor.png);
  }

  .content {
    width: 100%;
  }

  .header-container {
    padding-left: 15%;
    padding-right: 15%;

  }

  .button {
    padding-left: 5%;
    padding-right: 5%;
  }

  .regresar-container {
    padding: 5%;
  }

  .footer {
    position: relative;
  }

}